{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block sectionTitle %}ShowAllProducts{% endblock %}

{% block body %}
    <h1>Products</h1>

    <img src="{{ asset('assets/products/')}}{{product.productPicture}}" alt="{{ product.productName }}">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>ProductPicture</th>
                <td>{{ product.productPicture }}</td>
            </tr>
            <tr>
                <th>ProductName</th>
                <td>{{ product.productName }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ProductDescription</th>
                <td>{{ product.productDescription }}</td>
            </tr>
            <tr>
                <th>ProductType</th>
                <td>{{ product.type.id }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_products_index') }}">back to list</a>

    <a class="btn" href="{{ path('app_products_edit', {'id': product.id}) }}">edit</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
