<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | STOCK IT</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asstes/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="open" id="menu-btn">
            <span class="material-symbols-sharp">menu</span>
            </div>
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="{{ asset('asstes/images/LogoStockIT.png') }}" alt="Logo">
                        <h2>Stock It</h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-symbols-sharp">close</span>
                    </div>
                </div>

                <div class="sidebar">
                    <a class="aside-link active" href="{{ path('home_page') }}">
                        <span class="material-symbols-sharp"> dashboard </span>
                        <h3>Dashboard</h3>
                    </a>
                    <a class="aside-link" href="{{ path('app_products_index') }}">
                        <span class="material-symbols-sharp">blinds_closed</span>
                        <h3>Products</h3>
                    </a>
                    <a class="aside-link" href="{{ path('app_products_new') }}">
                        <span class="material-symbols-sharp"> add </span>
                        <h3>Add Product</h3>
                    </a>
                    <a class="aside-link" href="{{ path('app_type_index') }}">
                        <span class="material-symbols-sharp"> keyboard_capslock_badge </span>
                        <h3>Types</h3>
                    </a>
                    <a class="aside-link" href="{{ path('app_type_new') }}">
                        <span class="material-symbols-sharp"> keyboard_capslock_badge </span>
                        <h3>Add Product type</h3>
                    </a>
                    <a class="aside-link" href="/">
                        <span class="material-symbols-sharp"> person_add </span>
                        <h3>Stuff</h3>
                    </a>
                </div>
            </aside>

            <section class="{% block sectionTitle %}{% endblock %}">
                {% block body %}{% endblock %}
            </section>

        </div>
        {% block javascripts %}
            <script src="{{ asset('asstes/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
